<!-- 
	Created Pipe using the marked library and
	we are able to render the encoded content 

	Next: DecodeURIComponent?
		
 -->

<!-- <p [innerHTML]="repoReadme"></p> -->
<!-- {{repoReadme | json}} -->

<div _ngcontent-dbk-33="" class="card-block markdown-body"><h1>{{ singleRepo?.name }} <a href="https://awesome.re"><img src="https://awesome.re/badge.svg" alt="Awesome"></a></h1>
<p>Collection of awesome things regarding WebAssembly WASI ecosystem.</p>
<p>Please read the <a href="CONTRIBUTING.md">contribution guidelines</a> if you want to contribute.</p>
<h2>Contents</h2>
<ul>
<li><a href="#general-resources">General Resources</a></li>
<li><a href="#wasi-compatible-runtimes">WASI-compatible Runtimes</a></li>
<li><a href="#utilities">Utilities</a></li>
<li><a href="#wasi-programs">WASI Programs</a><ul>
<li><a href="#assemblyscript">AssemblyScript</a></li>
<li><a href="#rust">Rust</a></li>
<li><a href="#c">C</a></li>
<li><a href="#zig">Zig</a></li>
</ul>
</li>
<li><a href="#articles">Articles</a></li>
<li><a href="#podcasts">Podcasts</a></li>
<li><a href="#resources-in-other-languages">Resources in other languages</a><ul>
<li><a href="#japanese">Japanese</a></li>
</ul>
</li>
</ul>
<h2>General Resources</h2>
<ul>
<li><a href="http://wasi.dev/">Official Website</a></li>
<li><a href="https://github.com/webassembly/WASI">WASI GitHub Repo</a></li>
<li><a href="https://hacks.mozilla.org/2019/03/standardizing-wasi-a-webassembly-system-interface/">Mozilla Announcement</a></li>
<li><a href="https://github.com/CraneStation/wasi-sdk">WASI SDK</a></li>
<li><a href="https://github.com/WebAssembly/WASI/blob/master/design/WASI-core.md">WASI Core API</a></li>
<li><a href="https://github.com/WebAssembly/WASI/tree/master/meetings">WASI CG Meetings</a></li>
</ul>
<h2>WASI-compatible Runtimes</h2>
<ul>
<li><a href="https://github.com/fastly/lucet">Lucet</a></li>
<li><a href="https://github.com/wasmerio/wasmer">Wasmer</a></li>
<li><a href="https://github.com/cranestation/wasmtime">Wasmtime</a></li>
<li><a href="https://github.com/ericsink/wasm2cil">wasm2cil</a></li>
</ul>
<h2>Utilities</h2>
<ul>
<li><a href="https://github.com/jedisct1/wasa">WASA - WASI layer interface for AssemblyScript</a></li>
</ul>
<h2>WASI Programs</h2>
<h3>AssemblyScript</h3>
<ul>
<li><a href="https://github.com/torch2424/wasm-matrix">wasm-matrix</a></li>
</ul>
<h3>Rust</h3>
<ul>
<li><a href="https://github.com/wapm-packages/cowsay">cowsay</a></li>
<li><a href="https://github.com/wapm-packages/fortune">fortune</a></li>
<li><a href="https://github.com/wapm-packages/lolcat">lolcat</a></li>
<li><a href="https://github.com/wapm-packages/rust-wasi-example">rust-wasi-example</a></li>
<li><a href="https://github.com/kubkon/rust-wasi-tutorial">Rust WASI Tutorial</a></li>
</ul>
<h3>C</h3>
<ul>
<li><a href="https://github.com/CraneStation/wasmtime/blob/master/docs/WASI-tutorial.md">WASI C Tutorial</a></li>
</ul>
<h3>Zig</h3>
<ul>
<li><a href="https://github.com/bketelsen/hello-wapi">Hello World</a></li>
</ul>
<h2>Articles</h2>
<ul>
<li><a href="https://00f.net/2019/04/07/compiling-to-webassembly-with-llvm-and-clang/">Compiling C to WebAssembly using clang/LLVM and WASI</a></li>
<li><a href="https://ericsink.com/entries/wasm_wasi_dotnet.html">Running WebAssembly and WASI with .NET</a></li>
<li><a href="https://rendered-obsolete.github.io/2019/04/29/wasi.html">WASM to WASI</a></li>
<li><a href="https://www.codepool.biz/first-wasmtime-experience-windows-10.html">My First WASI Experience in Windows 10</a></li>
<li><a href="https://dev.to/ryan_levick/the-promise-of-webassembly-2obi">The Promise of WebAssembly</a></li>
<li><a href="https://medium.com/wasmer/running-webassembly-on-the-kernel-8e04761f1d8e">Running WebAssembly in the Kernel</a></li>
</ul>
<h2>Podcasts</h2>
<ul>
<li><a href="https://poddtoppen.se/podcast/1106971805/the-infoq-podcast/ashley-williams-on-web-assembly-wasi-the-application-edge">Ashley Williams on Web Assembly, Wasi, &amp; the Application Edge</a></li>
<li><a href="https://changelog.com/podcast/341">Wasmer is taking WebAssembly beyond the browser</a></li>
</ul>
<h2>Resources in other languages</h2>
<h3>Japanese</h3>
<ul>
<li><a href="https://medium.com/nttlabs/wasi-6060b243ac90">コンテナ技術を捨て、 WASIを試す</a></li>
</ul>
<h2>License</h2>
<p><a href="https://creativecommons.org/publicdomain/zero/1.0/"><img src="http://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.svg" alt="CC0"></a></p>
<p>To the extent possible under law, <a href="https://github.com/wasmerio">Wasmer, Inc.</a> has waived all copyright and related or neighboring rights to this work.</p>
</div>